<p id="notice"><%= notice %></p>

<p>
  <strong>Tel:</strong>
  <%= @codatum.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @codatum.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @codatum.email %>
</p>

<%= link_to 'Edit', edit_codatum_path(@codatum) %> |
<%= link_to 'Back', codata_path %>
