
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/hot-sneaks/jquery-ui.css" rel="stylesheet">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

<%= form_for(activity) do |f| %>
<% if activity.errors.any? %>

  <div id="error_explanation">

    <h2><%= pluralize(activity.errors.count, "error") %>以下為必填，或是格式不符合</h2>

    <ul>
    <% activity.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>

<% end %>

  <style media="screen">
    .form-group label{
      font-size: 20px;
    }
  </style>

  <div class="form-group">
    <%= f.label :date , "日期" %>  <font style="color:red;margin-left:30px;">請使用日期格式 , 例如 : 2016-01-01</font>
    <%= f.text_field :date , class: "form-control date" ,id: "datepicker1" %>
  </div>

  <div class="form-group">
    <%= f.label :time ,"時間"%>
    <%= f.time_select :time , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :title,"活動名稱-中文" %>
    <%= f.text_field :title , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :title_en,"活動名稱-英文" %>
    <%= f.text_field :title_en , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :content ,"活動內容-中文"%>
    <%= f.text_area :content ,  id: "ckeditor"  %>
  </div>

  <div class="form-group">
    <%= f.label :content_en ,"活動內容-英文"%>
    <%= f.text_area :content_en , class: "form-control ckeditor cke" ,id: "ckeditor"%>
  </div>

  <div class="form-group">
    <%= f.label :limit_user,"人數上限" %>
    <%= f.number_field :limit_user, class: "form-control" %>
  </div>


  <% if activity.id.nil?  %>
  <div class="form-group">
    <%= f.label :column_num , "額外欄位數目(個)" %>
    <%= f.number_field :column_num , class: "form-control"%>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">

$(document).ready( function(){



  $('#ckeditor').each(function() {
    CKEDITOR.replace($(this).attr('id'));
  });


  var opt={
   dayNames:["星期日","星期一","星期二","星期三","星期四","星期五","星期六"],
   dayNamesMin:["日","一","二","三","四","五","六"],
   monthNames:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
   monthNamesShort:["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
   prevText:"上月",
   nextText:"次月",
   weekHeader:"週",
   showMonthAfterYear:true,
   dateFormat:"yy-mm-dd"
   };
   $("#datepicker1").datepicker(opt);
   $("#datepicker1").reload();
   location.reload();

});


</script>
